body {
    display: inline-block;
    margin: 30px 30px 30px 30px;
    text-align: justify;
}
html {
    background-color: #0D0D0D;
    color: #f1f1f1;
    font-family: Calibri;
    text-align: center;
}
div {
    padding: 0;
}
img {
    border-radius: 4px;
}
h1 {
    margin: 50px 0px 20px 0px;
}
h2 {
    font-size: 16px;
    margin: 30px 0px 0px 0px;
}
h3 {
    font-size: 14px;
    margin: 20px 0px 5px 40px;
}
p {
    margin: 0px 60px 0px 60px;
}
ul li {
    margin: 0px 0px 10px 60px;
    width: 80%;
}
#guide_content {
    clear: both;
    /*background-color: #111;*/
    background: #232323;
    width: 100%;
    max-width: 960px;
    overflow: hidden;
    border: 1px solid #333;
    border-radius: 4px;
    border-color: grey;
    border-width: 1px;
    border-style: dashed;
    margin: 20px 20px 20px 20px;
    padding: 0px 30px 30px 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
}
#iosinstall {
    clear:both;
    margin-top:100px;
    text-align:center;
}
#iosinstall h2 {
    text-align:left
}
#iosinstall div {
    margin: 0px 30px 0px 30px;
}
#iosinstall div h3 {
    margin: 10px;
    text-align: left
}
a {
    color: #ff8297;
}