html {
   background-color:#f0f1f0;
   color:#000;
   font-family:Calibri;
   text-align:center
}

body {
   display:inline-block;
   margin:10px 0px;
   min-height:450px;
   font-size:1em;
   text-align:left
}

h1,h2,h3,h4{
   margin:10px 20px
}

h1 {
   font-size:1.3em
}

h2 {
   font-size:1.1em
}

h3,h4 {
   margin-top:15px;
   font-size:1em
}

p {
   margin:10px 0px 0px 0px
}

img {
   margin:0px 40px;
   border-radius:4px;
   max-width:100%
}

a {
   color:#ff0029;
   text-decoration:none
}

a:hover {
   color:#1185fd
}

p {
   margin:0px 30px
}

ul li {
   margin-top:7px
}

.framed {
   padding:12px;
   text-align:justify;
   border-style:solid;
   border-color:#000;
   border-width:1px;
   border-radius:0px
}

#guide_content {
   max-width:1000px
}

#iosinstall {
   text-align:center;
}

#iosinstall div {
   display:inline-block;
}