body {
    margin: 50px 50px 0 50px;
    width: 1200px;
}
html {
    background-color: #262626;
    color: #f1f1f1;
    font-family: Calibri;
}
img {
    border-radius: 4px;
}
h2 {
    font-size: 16px;
    margin: 30px 0px 0px 0px;
}
h3 {
    font-size: 14px;
    margin: 20px 0px 5px 40px;
}
p {
    margin: 0px 0px 0px 60px;
}
ul li {
    margin: 0px 0px 0px 60px;
}
#guide_content {
    clear: both;
    background-color: #111;
    width: 100%;
    max-width: 960px;
    overflow: hidden;
    border: 1px solid #333;
    margin: 30px 0px 10px 0px;
    padding: 0px 30px 30px 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
}
a {
    color: #ff96a8;
}