html {
   background-color:#f0f1f0;
   color:#000;
   font-family:Calibri;
   text-align:left
}

body {
   display:inline-block;
   margin:10px 0px;
   min-height:450px;
   font-size:1em;
   text-align:left
}

h1,h2,h3,h4{
   margin:0px 0px 10px 0px
}

h1,h2,h3 {
   text-align:center
}

h2,h3,h4 {
   font-weight:normal
}

h1 {
   font-size:1.7em
}

h2 {
   font-size:1.1em
}

h3,h4 {
   font-size:1em
}

p {
   margin:10px 0px 0px 0px
}

img {
   border-radius:4px;
   max-width:100%
}

a {
   color:#ff0029;
   text-decoration:none
}

a:hover {
   color:#dd14ff
}

input[type=checkbox] {
   vertical-align:middle;
   width:15px;
   height:15px;
   margin:0;
   -webkit-appearance: checkbox;
   box-sizing: border-box
}

#mainContainer {
   width:100vw;
   text-align:center
}

.section {
   display:inline-block;
   vertical-align:top;
   margin:20px 10px;
   text-align:left
}

.framed {
   padding:12px;
   text-align:justify;
   border-style:solid;
   border-color:#000;
   border-width:1px;
   border-radius:4px
}

.section .framed {
   margin-top:10px
}
.section .framed:first-of-type {
   margin-top:0px
}

#header {
   width:100%;
   margin-bottom:30px;
   text-align:center
}

#home {
   display:inline-block;
   min-width:400px;
   width:50vw;
   margin:10px 0px;
   padding:4px;
   text-align:justify
}

#smscommunity {
   display:block;
   text-align:center;
   margin:18px 0px 7px 0px
}

#smscommunity img {
   margin:0px 3px;
   vertical-align:middle
}

#left {
   width:30vw;
   min-width:300px;
   max-width:400px
}

#center {
   display:none;
}

#right {
   width:50vw;
   min-width:300px;
   max-width:800px
}

#usefastcode:checked ~ #center {
   display:inline-block;
   width:20vw;
   min-width:300px;
   max-width:400px
}

#usefastcode:checked ~ #left {
   width:20vw
}

#usefastcode:checked ~ #right {
   width:35vw
}

@media screen and (max-width:1100px) {

   #usefastcode:checked ~ #left, #usefastcode:checked ~ #center{
      min-width:45vw;
      max-width:45vw
   }

   #usefastcode:checked ~ #right {
      min-width:90vw;
      min-width:calc(90vw + 24px);
      max-width:90vw
   }
}

@media screen and (max-width:700px) {

   #left,#center,#right,#usefastcode:checked ~ #left, #usefastcode:checked ~ #center,#usefastcode:checked ~ #right{
      min-width:400px;
      max-width:90vw;
      width:90vw
   }
}

button {
   padding:6px;
   margin:auto;
   color:#f1f1f1;
   background-color:#ca0707;
   border-style:none;
   border-radius:4px;
   cursor:pointer;
   outline:none
}

select {
   margin:2px 0px;
   background-color:#ca0707;
   padding:5px;
   color:#fff;
   width:200px;
   border-style:none;
   border-radius:4px;
   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
   outline:none
}

ul {
   margin:0;
   padding:0;
   width:100%;
   list-style-type:none
}

ul li {
   margin-top:2px;
   cursor:pointer;
   position:relative;
   padding:4px;
   color:#262626;
   text-align:left;
   transition:.1s;
   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
   outline:none
}

ul li:nth-child(odd) {
   background:#e2e2e2
}

ul li:hover {
   background:#ca0707;
   color:#fff;
   border-color:#000
}

ul li.checked:hover {
   background:#ca0707;
   color:#fff
}

ul li.checked {
   background:#434343;
   color:#fff;
   border-color:#262626
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#route_levels {
   margin:10px 0px;
}

#route_levels li {
   padding:0px 10px;
   margin:0
}

#route_levels li.dragover {
   padding-bottom:20px;
   background-color:white
}

#route_levels li select {
   margin:0;
   color:black;
   background-color:inherit
}

#route_levels li select:hover {
   color:white
}

#route_levels li:hover select {
   color:white
}

#route_levels li:last-child .route_remove {
   display:none
}

.dragelement {
   opacity:0.2
}

.route_remove {
    background-color:#ff0c0c;
    width:10px;
    height:10px;
    border-radius:0;
    vertical-align:middle;
    padding:0
}

.route_clear, .route_presets {
   display:inline-block
}
