/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
 
 body
    min-height: 120vh;

div.theme-default-content:not(.custom) 
    max-width: 80%;

footer.page-edit
    max-width: 80%;

aside.sidebar
    z-index: 18;
