/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
 
body
    min-height: 120vh;
    font-size: 15px;

body.fool
    transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg); /* IE 9 */
    -webkit-transform: rotateY(-180deg); /* Safari and Chrome */
    &, & *
        cursor: url('/img/yoshi.png') 15 15, auto !important
    &:hover:active, & *:hover:active
        cursor: url('/img/yoshi_l.png') 15 15, auto !important

div.theme-default-content:not(.custom) 
    max-width: 80%;

footer.page-edit
    max-width: 80%;

aside.sidebar
    z-index: 18;

header
    z-index: 9991 !important;
